.eventTable{
    .actions{
        margin: 10px 10px 10px 0;
        .button{
            height: 30px;
            font-size: 14px;
            font-weight: bold;
        }
        .buttonIcon{
            margin-right: 5px;
        }
    }
}